{% extends "base.html" %}

{% block content %}

<style type="text/css">
	

      .form-pwd {
      	
        max-width: 400px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-pwd .form-pwd-heading,
      .form-pwd .checkbox {
        margin-bottom: 10px;
      }
      .form-pwd input[type="text"],
      .form-pwd input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
</style>



<div class="container" style="padding-top:100px;">
	<form class="form-pwd" method="post" action=".">
		{% csrf_token %}
		<h2 class="form-pwd-heading">Change Password</h2>
		{{ form.errors }}
			<input id="id_old_password" class="input-block-level" name="old_password" type="password" placeholder="old password"/>
		 	<input id="id_new_password1" class="input-block-level" name="new_password1" type="password" placeholder="new password"/>
			<input id="id_new_password2" class="input-block-level" name="new_password2" type="password" placeholder="confirm password"/>
			<button class="btn btn-large btn-primary" type="submit">Change</button>
</form>
</div>





{% endblock %}
