{% extends "base.html" %}

{% block content %}
     <script type="text/javascript" src="/media/js/client.js"></script>
     
        
      <style type="text/css">
        	#options-hide{
		      	display: none;
		    }	
		   
        </style>
    <br />
    <br />
    
    <div class="container" >
    
  
    <div id="box" class="row ui-widget-content" style="height:400px;background-color:white;"> <!--  border-width: 10px; border-style:inset; border-color:#fffffa; -->
	    <div  class="col-md-8" style="height:100%;">
	    	
	    	<div class="row" style="height:100%;width:104%;">
	    		<div class="col-md-12" style="height:100%;width:100%;">
	    			<div id="comments" style="height:92.5%;overflow:scroll;background-color:white;float:left;margin-left:-15px;width:104%;box-shadow:inset 0px 2px 5px 0px #888;">
	    				
	    			</div>
	    		</div>
	    	</div>
	    	<div class="row" style="bottom:0;position:absolute;width:100%;">
	     		<div class="col-md-12" >
		    	<input type="text" placeholder="Chat now!  PM: /w <name> <msg>" class="form-control input-sm" id="comment" name="comment" maxlength="255" style="float:left;margin-left:-15px;width:104%;background-color:white;"/>
		    	<!-- <input type="button" id="soundBtn" value="&#128266;" style="border-style:outset;" onClick=''/> -->
		    	</div>
	    	</div>
	    </div>
	    	
	    
	    
	    <!-- USERS      -->
	    <div id="lobby" style="box-shadow:inset 0px 2px 5px 0px #888;height:100%;background-color:white;"class="col-md-2">
	    	
	    	<div id="users"></div>
	    </div>
	    
	    
	    <div id="modbox" style="box-shadow:inset 0px 2px 5px 0px #888;height:100%;background-color:white" class="col-md-2">
	    	<br />
	    	{% if prof.isMod %}<input class="form-control input-sm" type="text" value="" id="kickbox" /><button id="kick" type="button">Kick</button>{% else %}{% endif %}
	    	<br />
	    	<span><input id="mute" type="button" value="mute" /> </span>
	    </div>
	    
	    
    </div>
    <!-- rooms: 'lobby','duos','teams','bronze','silver','gold','platinum','diamond','challenger' -->
    <br />
    <div class="col-md-12" style="width:102.5%;float:left;margin-left:-15px;margin-top:10px">
	    <select id='rooms' class="form-control">
	    	<option value='lobby' selected>lobby</option>
	    	<option value="normal">normals</option>
	    	<option value='duos'>duos</option>
	    	<option value='teams'>teams</option>
	    	<option value='bronze'>bronze</option>
	    	<option value='silver'>silver</option>
	    	<option value='gold'>gold</option>
	    	<option value='platinum'>platinum</option>
	    	<option value='diamond'>diamond</option>
	    	<option value='challenger'>challenger</option>
	    	
	    </select>
    </div>
   
    
    
    </div><!-- container end -->
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	
	
  <input type="hidden" id="name" value="{{prof.ign}}">
  <input type="hidden" id="brauns" value="{{prof.isMod}}">
 
{% endblock %}

