{% extends "base.html" %}

{% block content %}

<style type="text/css">
	/* Carousel base class */
#footer{
	position:static;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
</style>

<div class="container-fluid">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://blairvonf.files.wordpress.com/2012/10/rift_1-1_turret1.jpg" alt="First slide" style="opacity:0.8;">
          <div class="container">
            <div class="carousel-caption" style="background-color:rgba(150,150,150,0);width:100%;left:0;">
              <h1>LEAGUEchat</h1>
              <p>The BEST place to find teammates for battle in summoner's rift.</p>
              <p><a class="btn btn-lg btn-primary" href="register" role="button">Sign up today</a></p>
              <br />
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{STATIC_URL}}team-work-op.png" alt="yup">
          <div class="container">
            <div class="carousel-caption" style="background-color:rgba(130,130,130,.5);">
              <h1>The image says it all.</h1>
              <p>Get connected with a team today.</p>
              <p><a class="btn btn-lg btn-primary" href="/register/" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



<br />
  <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" style="color:#DDDDDD;">
          <img class="img-circle" height="140" width="140" src="{{STATIC_URL}}teemoLook.png" alt="Find players!">
          <h2>I'll scout ahead</h2>
          <p>LEAGUEchat makes it easy to find other players to learn from and to play with. Bringing together players of the same caliber and of more skill to help new players.</p>
          <p><a class="btn btn-default" href="/chat/" role="button">Chat now &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="color:#DDDDDD;">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Teams all day</h2>
          <p>LEAGUEchat makes it easy for players to find teams. We have specific chat rooms to find players of similar skill level. Finding a group to play with has never been easier.</p>
          <p><a class="btn btn-default" href="/chat/" role="button">Chat now &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="color:#DDDDDD;">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Duo Partners</h2>
          <p>LEAGUEchat brings together duo partners of similar caliber to take on the rift. Sometimes going at it alone can be fearful, but with a friend ranked fear can drift away.</p>
          <p><a class="btn btn-default" href="/chat/" role="button">Chat now &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% endblock %}
