{% extends "base.html" %}

{% block content %}
<style type="text/css">
	

      .form-login {
      	
        max-width: 400px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-login .form-login-heading,
      .form-login .checkbox {
        margin-bottom: 10px;
      }
      .form-login input[type="email"],
      .form-login input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .btn-twitch{
      	background-color:#63469C;
      	color:white;
      }
</style>

<div class='container'style="padding-top:100px;" >
	
{% if user.is_active %}Welcome '{{ user.username }}'
{% else %}

<form id="login_form" class="form-login" method="post" action="/login/">
            {% csrf_token %}
            
            <h2 class="form-login-heading">Login</h2>
            <span class="text-danger">{{ errors }}</span>
            <input type="email" class="input-block-level" placeholder="email" name="username" value=""  required/>
            <br />
            <input type="password" class="input-block-level" placeholder="password" name="password" value="" required/>
            <br />

            <button class="btn btn-large btn-primary" type="submit">Login</button>
            <br/>
            {% if input.errors %}<a href="/accounts/password_reset/">Forgot Password?</a>{%else%}{% endif %}
            <br />
            <h3>or</h3>
            <br />
            <a href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=iqme1phzcvouk0zuvo68pob2fghzwf1&redirect_uri=http://ec2-54-86-25-186.compute-1.amazonaws.com/twitchAuth&scope=user_read" class="btn btn-large btn-twitch">Log in with <img src="http://www.dafont.com/forum/attach/orig/1/3/134049.png" height="30"></a>
        </form>
        

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
        {% endif %}
{% endblock %}