{% extends "base.html" %}

{% block content %}

<style type="text/css">
	
	  .user{
	  	max-width: 1000px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
	  }
      .user .user-heading{
        margin-bottom: 10px;
      }
      
</style>




<div class='container-fluid'style="padding-top:100px;" >
	<div class="user" >
		
		
{% if not userProf %}
<br />
<br />
	<h1 class="user-heading">User not found</h1>
{% else %}
	



<h2 class="user-heading"><img class="img-rounded" width="100" height="100" src="{{STATIC_URL}}icon-user-default.png"> {{userProf.ign}}</h2>
<hr width="700"/>

<div class="row">
	<div class="col-md-5">
		Douche McNastyson @ Whore Island
		<br />
		<br />
		<a href="https://www.facebook.com/crazyskateface" target="_blank"><img src="{{STATIC_URL}}FB-f-Logo__blue_29.png" height="40" width="40" style="float:left;margin-left:0;" ></a>
		<a href="https://twitter.com/crazyskateface" target="_blank"><img src="{{STATIC_URL}}Twitter_logo_blue.png" height="40" width="40" style="float:left;margin-left:40px;"></a>
	</div>
	<div class="col-md-5">
	
		<h3>Rank: {{userProf.tier}} {{userProf.division}}</h3>
		<br />
		<h3>Primary role: {{userProf.primRole}}</h3>
		<br />
		<h3>Secondary role: {{userProf.secRole}}</h3>
		<br />
	</div>
	<div class="col-md-2">
		
	</div>
	
	
</div>
<div style="overflow-x:scroll;white-space:nowrap;">
<iframe width="300" height="169" src="//www.youtube.com/embed/FSauMwWZABs" frameborder="0" allowfullscreen autohide></iframe><iframe width="300" height="169" src="//www.youtube.com/embed/FSauMwWZABs" frameborder="0" allowfullscreen autohide></iframe><iframe width="300" height="169" src="//www.youtube.com/embed/FSauMwWZABs" frameborder="0" allowfullscreen autohide></iframe><iframe width="300" height="169" src="//www.youtube.com/embed/FSauMwWZABs" frameborder="0" allowfullscreen autohide></iframe><iframe width="300" height="169" src="//www.youtube.com/embed/FSauMwWZABs" frameborder="0" allowfullscreen autohide></iframe>
</div>
<br />

<object type="application/x-shockwave-flash" height="378" width="620" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{userProf.ign}}" bgcolor="#000000">
		<param name="allowFullScreen" value="true" />
		<param name="allowScriptAccess" value="always" />
		<param name="allowNetworking" value="all" />
		<param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
		<param name="flashvars" value="hostname=www.twitch.tv&channel={{userProf.ign}}&auto_play=true&start_volume=25" />
		</object>
		<a href="http://www.twitch.tv/{{userProf.ign}}" target="_blank" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline; text-align:center;">Watch live video from {{userProf.ign}} on www.twitch.tv</a>
	
{% endif %}

</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% endblock %}